# 로컬 개발
spring:
  datasource:
    url: jdbc:h2:mem:kickrush;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  # TODO: Redis 연동 시 주석 해제
  # data:
  #   redis:
  #     host: localhost
  #     port: 6379

logging:
  level:
    com.kanga: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.orm.jdbc.bind: TRACE